# Video dosyaları için LFS
*.mp4 filter=lfs diff=lfs merge=lfs -text
video/*.mp4 filter=lfs diff=lfs merge=lfs -text

# Görüntü dosyaları için 
*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.svg -text

# Diğer ikili dosyalar için
*.pdf binary
*.zip binary
